.fullpageWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: transparent;
  animation: fadeInGrey 0.5s forwards;
}

.modalCard {
  background-color: transparent;
}

.cardForm {
  background-color: #f5f5dce6;
}

.futureHeader {
  color: black;
  border-bottom: 2px solid black;
}

.pastHeader {
  color: black;
  cursor: pointer;
}


@keyframes fadeInGrey {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}