.navbar {
  width: 100vw;
  position: absolute;
  color: white;
  padding-right: 16px;
}

.navLink {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.navLink:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.2rem;
}

.navLink:active {
  color: white;
  border-bottom-color: white;
}
